
  <!-- <bs-navbar></bs-navbar> -->

  <!-- <main role="main" class="container"> -->
    <header>
      <div class="backdrop"></div>
      <div class="rectangle">
        <div class="date">
          {{ dateObj  | date }}
        </div>
      </div> 
      <h1>
        <span>Football Fever</span>
      </h1>
      
      <div class="content">
        <h2>
          Get the latest News and Event Updates on Football
        </h2>
        <button class="cta" (click)="scrollBelowATF()">
          Scroll Down <i class="material-icons">
              keyboard_arrow_down
              </i>
        </button>
      </div>
    </header>


    <div class="fluid-container">
        <div class="main">
            <router-outlet (activate)="onRouteActivate()"></router-outlet>
        </div>
    </div>



    <div class="navbar-toggle" (click)="menuShowToggle()">
      MENU
    </div>

    <div class="overlay" (click)="menuShowToggle()" [ngClass]="{'active': menu}">

    </div>

    <aside class="navbar-container" [ngClass]="{'active': menu}">
        <navbar></navbar>
        <div class="bg"></div>
    </aside>
  
  <!-- </main> -->
  <!-- /.container -->
  