
// variables

// Colors
$white: #fff;
$black: #0c0c0c;

$milky-white: #eeeeee;
$milky-blue: #f6fafb;
$grayed-white: #e0e0e0;

$muted-gray: #282828;
$gray: #242424;

$primaryHighlight: rgb(15, 51, 255); // #0f33ff
$primary: #242424; // #1125d6

$cardHoverShadow: #85cbf5;

$lightBluePattern: #cfeaf9;
// gradient-2: rgb(17,37,214) .. #1125d6 (A little lighter than primaryDark and used in Gradient)
// gradient-1: rgb(173, 42, 92) ... #ad2a5c (A  brinjal like color, different than everything used for gradient)

$secondaryHighlight: #070f81;
$secondary: #06127c;

$cta: #2d2fa7;


// fonts

$specialFont: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$primaryFont: monospace;
$secondaryFont: Verdana, Geneva, Tahoma, sans-serif;;




// breakpoints

$featurephones: 400px;
$smartphones: 600px;
$tablets: 768px;
$laptops: 900px;
$desktops: 1200px;
$largedesktops: 1600px;



// Z Indexes

$z3: 20;
$z4: 50;
$z5: 100;
$z6: 200;
$z7: 300;
$z8: 500;
$z9: 1000;
$z10: 2000;


